@model SubmitBug.Models.TB_UserFace

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TB_UserFace</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoginOn.LoginNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginOn.LoginNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserFace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserFace)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
