@model IEnumerable<SubmitBug.Models.TB_UserAccess>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccessName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccessName)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AId })
        </td>*@
    </tr>
}

</table>
